@model ResultStaffDepartmentAllDto

<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <div class="image"><a href="/Admin/Profile/Index"><img src="@Model.ImageUrl" alt="User"></a></div>
                    <div class="detail">
                        <h4>@Model.Name @Model.Surname</h4>
                        <small>@Model.DepartmentName Birimi</small>
                    </div>
                    <a href="#" title="Olaylar"><i class="zmdi zmdi-calendar"></i></a>
                    <a href="/Mail/Inbox" title="Gelen Kutusu"><i class="zmdi zmdi-email"></i></a>
                    <a href="#" title="Kişiler"><i class="zmdi zmdi-account-box-phone"></i></a>
                    <a href="#" title="Sohbet"><i class="zmdi zmdi-comments"></i></a>
                    <a href="/Login/SignOut/" title="Çıkış Yap"><i class="zmdi zmdi-power"></i></a>
                </div>
            </li>
            <li class="header">MAIN NAVIGATION</li>
            <li class="active open"> <a href="/Admin/Dashboard/Index"><i class="zmdi zmdi-home"></i><span>Ana Sayfa</span> </a> </li>
            <li> <a href="/Ticket/Create/"><i class="zmdi zmdi-plus-circle"></i><span>Talep Oluştur</span> </a></li>


            <li class="header">CONTACT NAVIGATION</li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-label col-red"></i><span>Mail</span> </a>
                <ul class="ml-menu">
                    <li> <a href="/Admin/Mail/Create"><i class="zmdi zmdi-plus-circle"></i><span>Mail Oluştur</span> </a> </li>
                    <li> <a href="/Admin/Mail/Inbox"><i class="zmdi zmdi-email"></i><span>Gelen Kutusu</span> </a> </li>
                    <li> <a href="/Admin/Mail/Outbox"><i class="zmdi zmdi-plus-circle"></i><span>Giden Kutusu</span> </a> </li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="waves-effect waves-block"><i class="zmdi zmdi-label col-green"></i><span>Contact Us</span></a></li>

            <li class="header">OTHER NAVIGATION</li>
            <li> <a href="/Profile/Index/"><i class="zmdi zmdi-home"></i><span>Ayarlar</span> </a> </li>
            <li> <a href="/Login/SignOut/"><i class="zmdi zmdi-plus-circle"></i><span>Çıkış Yap</span> </a></li>
        </ul>
    </div>
</aside>