@using System.Security.Claims
@{
    Layout = null;
    var userId = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
}

<!DOCTYPE html>

<html class="no-js " lang="tr">

@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body class="theme-cyan">

    <div class="overlay"></div>

    <!-- Top Bar -->
    @await Component.InvokeAsync("_LayoutNavbarComponentPartial")

    <!-- Left Sidebar -->
    @await Component.InvokeAsync("_LayoutAdminLeftSiderbarComponentPartial", new { id = userId })

    <!-- Right Sidebar -->
    @await Component.InvokeAsync("_LayoutRightSidebarComponentPartial")

    <!-- Chat-launcher -->
    @await Component.InvokeAsync("_LayoutChatComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_LayoutScriptsComponentPartial")

</body>
</html>
