@using System.Security.Claims

@{
    ViewData["Title"] = "Err500";
    Layout = "~/Views/LayoutLogin/Index.cshtml";
    var userRole = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
}

<div class="page-header">
    <div class="page-header-image" style="background-image:url(~/images/login.jpg)"></div>
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">
                <form class="form" method="" action="">
                    <div class="header">
                        <div class="logo-container">
                            <img src="~/images/logo.svg" alt="">
                        </div>
                        <h5>500 Hatası</h5>
                        <span>Dahili Sunucu Hatası</span>
                    </div>
                    <div class="content">
                        <div class="input-group input-lg">
                            <input type="text" class="form-control" placeholder="Sayfada ara...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="footer text-center">
                        @if (userRole == "Admin")
                        {
                            <a href="/Admin/Dashboard/Index" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">Ana Sayfaya Dön</a>
                        }
                        else
                        {
                            <a href="/Dashboard/Index" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">Ana Sayfaya Dön</a>
                        }
                        <h6 class="m-t-20"><a href="#" class="link">Yardıma mı ihtiyacın var?</a></h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>