@model ResultCheckRegisterDto

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/LayoutLogin/Index.cshtml";
}

<div class="container">
    <div class="col-md-12 content-center">
        <div class="card-plain">
                <div class="header">
                    <div class="logo-container">
                        <img src="~/images/logo.svg" alt="">
                    </div>
                    <h5>Kayıt Ol</h5>
                    <span>Yeni Üye Kaydı</span>
                </div>
            <form class="form" method="POST">
                <div class="content">
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="Name" placeholder="İsim">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-circle"></i>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="Surname" placeholder="Soyisim">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-circle"></i>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" asp-for="Username" placeholder="Kullanıcı Adı">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-circle"></i>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-email"></i>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="password" asp-for="Password" placeholder="Şifre" class="form-control" />
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="password" asp-for="ConfirmPassword" placeholder="Şifre Tekrar" class="form-control" />
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="checkbox">
                    <input id="terms" type="checkbox">
                    <label for="terms">
                        <a href="javascript:void(0);">Koşullar &amp; Şartarı</a> kabul ediyorum.
                    </label>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">KAYIT OL</button>
                    <h6 class="m-t-20"><a class="link" href="/Login/SignIn">Zaten bir üyeliğiniz var mı?</a></h6>
                </div>
            </form>
        </div>
    </div>
</div>