@model CreateLoginDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/LayoutLogin/Index.cshtml";
}

<div class="container">
    <div class="col-md-12 content-center">
        <div class="card-plain">
            <form class="form" method="POST">
                <div class="header">
                    <div class="logo-container">
                        <img src="~/images/logo.svg" alt="">
                    </div>
                    <h5>Giriş Yap</h5>
                </div>
                <div class="content">
                    <div class="input-group input-lg">
                        <input type="text" class="form-control" asp-for="Username" placeholder="Kullanıcı Adı">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account-circle"></i>
                        </span>
                    </div>
                    <div class="input-group input-lg">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Şifre" />
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="footer text-center">
                    <button class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">GİRİŞ YAP</button>
                    <h6 class="m-t-20"><a href="/Login/ForgotPassword/" class="link">Şifrenizi mi unuttunuz?</a></h6>
                </div>
            </form>
        </div>
    </div>
</div>

